gradio>=5
spaces
pillow>=10.4
opencv-python-headless>=4.10.0.84
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0+cu128
torchvision==0.23.0+cu128
transformers
accelerate
bitsandbytes
huggingface_hub
hf_transfer
unsloth
